{% extends "partials/base.html" %}
{% block title %}ChatChord{% endblock %}
{% block body %}
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> ChatCord</h1>
			</header>
			<main class="join-main">
				<form class="form">
					<div class="form-group">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							class="form-control"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-group">
						<label for="room">Room</label>
						<select  class="form-control" name="room" id="room">
							{% for room in rooms %}
							<option value="{{room['node']['name']}}">{{room['node']['name']}}</option>
							{% endfor %}
						</select>
					</div>
					<button type="button" id="submit" class="btn">Join Chat</button>
				</form>
			</main>
		</div>
		{% endblock %}

